<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="/docs/4.0/assets/img/favicons/favicon.ico" />

    <title>Profil - TelkomMeet</title>

    <!-- Bootstrap core CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />

    <!-- Custom styles for this template -->


  </head>

  <body class="bg-light">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="#">TelkomMeet</a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarProfil"
          aria-controls="navbarProfil"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarProfil">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
              <a
                class="nav-link"
                href="http://example.com"
                id="menuProfil"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
                >Nama Profil</a
              >
              <div class="dropdown-menu" aria-labelledby="menuProfil">
                <a class="dropdown-item" href="profil.html">Ubah Profil</a>
                <a class="dropdown-item" href="pass.html">Ubah Password </a>
                <a class="dropdown-item" href="#">Sign Out</a>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    
    <main>
      <main class="container">
        <div class="row justify-content-center pt-5">
          <div class="col-md-8">
            <h4 class="mb-3"><b>Password</b></h4>
            <form class="needs-validation" novalidate>
              <div class="mb-3">
                <label for="passSekarang"><b>Password Sekarang</b></label>
                <input
                  type="password"
                  class="form-control"
                  id="passSekarang"
                  placeholder=""
                  value=""
                  required
                />
                <div class="invalid-feedback">
                  Tolong masukkan nama yang valid
                </div>
              </div>

              <div class="mb-3">
                <label for="passBaru"><b>Password Baru</b></label>
                <input
                  type="password"
                  class="form-control"
                  id="passBaru"
                  placeholder=""
                  required
                />
                <div class="invalid-feedback">
                  Tolong masukkan NIK yang valid.
                </div>
              </div>
              <div class="mb-3">
                <label for="passKonfirmasi"><b>Password Baru</b></label>
                <input
                  type="password"
                  class="form-control"
                  id="passKonfirmasi"
                  placeholder=""
                  required
                />
                <div class="invalid-feedback">
                  Tolong masukkan NIK yang valid.
                </div>
              </div>

              <hr class="mb-4" />

              <button class="btn btn-danger btn-block col-md-3" type="submit">
                Ubah password
              </button>
            </form>
          </div>
        </div>
    </main>
    
    <footer class="my-4 pt-4 text-muted text-center text-small align-bottom">
      <p class="mb-1">
        &copy; 2020 PT Telkom Indonesia (Persero) Tbk. Hak Cipta Dilindungi
        Undang-Undang.
      </p>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script
      src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
      integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
      integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
      integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
      crossorigin="anonymous"
    ></script>

    <script>
      // Example starter JavaScript for disabling form submissions if there are invalid fields
      (function () {
        "use strict";

        window.addEventListener(
          "load",
          function () {
            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.getElementsByClassName("needs-validation");

            // Loop over them and prevent submission
            var validation = Array.prototype.filter.call(forms, function (
              form
            ) {
              form.addEventListener(
                "submit",
                function (event) {
                  if (form.checkValidity() === false) {
                    event.preventDefault();
                    event.stopPropagation();
                  }
                  form.classList.add("was-validated");
                },
                false
              );
            });
          },
          false
        );
      })();
    </script>
  </body>
</html>
